html {
  background-color: #f0f8ff;
}

.logo {
  width: 190px;
}

table {
  width: 100%;
}

.gender-simple .select,
.gender-simple select {
  width: 100%;
}

table td, .table th {
  vertical-align: middle !important;
}
